:root{
    width: 100vw;
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
    user-select: none;
}
img{
    -webkit-user-drag: none;
    display: block;
}
body{
    width: 100vw;
    height: 100vh;
}
