#main{
    width: 100vw;
    height: 100vh;
}

#header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app-head{
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    -webkit-app-region: drag;
    height: 50px;
    width: 100vw;
    background-color: #111;
    div{
        padding: 3.5px 13px;
    }
}


#footer{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
    width: 50px;
    background-color: #111;
    img{
        display: block;
        width: 32px;
        height: 32px;
    }
    div{
        padding: 5px;
        border-radius: 8px;
        transition: all 0.2s ease-out;
    }
    div:hover{
        
        background-color: #222;
        transition: all 0.2s ease-out;
    }
}
